@{
    ViewData["Title"] = "Home Page";
}


<body class = "homebackgroundcolor">
  <div class="text-center">
    <h1 class="display-4">Lets Get Organized</h1>
    <img class="img-fluid" src = "~/DPD.jpg" />
  </div>
</body>



@*<div class="background">

   <link rel="stylesheet" href="/css/site.css" />

</div>

<div class="text-center">
    <h1 class="display-4">Lets Get Organized</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p></div>
*@