@{
    ViewData["Title"] = "Home Page";
}

@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css" />
    <title>Document</title>
</head>
<body>
  <div class=" background_image"> </div>
</body>
</html>
*@

<div class=" background_image">

   <link rel="stylesheet" href="/css/site.css" />

</div>

<div class="text-center">
    <h1 class="display-4">Lets Get Organized</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p></div>
