@{
    ViewData["Title"] = "Home Page";
}


<body class = "background">
  <div class="test">
    <h1>Welcome to my site!</h1>
  </div>
</body>



@*<div class=" background_image">

   <link rel="stylesheet" href="/css/site.css" />

</div>

<div class="text-center">
    <h1 class="display-4">Lets Get Organized</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p></div>*@
