.background {
    background-image: url('../dreams.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*border: 1px;*/
}

body {   
    
  
}  

h1 {
    color: goldenrod;
    
}

.background2 {
    background-image: url('../budget.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h2 {
    color: goldenrod;
}

.databaseFont{
    color:navajowhite;
}

.homebackgroundcolor {
    background-color: black;
}

/*.test {*/
   /* border: 1px;
    border-color: red !important;*/
/*}*/


/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/