/*.background {
    background-image: url('../dreams.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border: 1px;
}
*/
h1 {
    color: goldenrod;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.background2 {
     background-image: url('../budget.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
   
}
h2 {
    color: steelblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.databaseFont {
    color: goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
}

.homebackgroundcolor {
    background-color: black;
 /*   background-image: url('../dpd.jpg');*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.backgroundinsert {
    background-image: url('../lib/groot.jpg');
  /*  background-size: cover;
    background-attachment: fixed;
    background-position: center;*/
}
.budgetFont {
    color: goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
}



/*.test {*/
   /* border: 1px;
    border-color: red !important;*/
/*}*/


/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/