/*.background_image {
    background-image: url('../dpd.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}*/


html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}